<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaGuard</title>
    <link rel="stylesheet" href="static/nav.css">
</head>
<body>
   <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="/">InstaGuard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/capture">Capture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/alerts">Alerts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predictions">Input Predictions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/statistics">Statistics</a>
            </li>
        </ul>
        <img src="/static/logo3.jpg" alt="InstaGuard Logo" class="navbar-logo">
    </div>
</nav>
</body>
</html>
